# Data Preperation

Task: You have been provided with a historical dataset of taxi data – which can be assumed to be a good approximation of ride-hailing data - from Chicago, USA.
Select the year(s) that have been assigned to you and clean your dataset for use in later stages of your project. As the CSV file might be too large for your computer to open it with Python, you could preprocess the file first with tools like “sed” or “xsv” in order to filter out not needed rows and columns. To obtain hourly weather data, access the links provided above (or reach out to us). Also, provide a detailed description of the trip dataset such that there are no pending questions. Due to privacy reasons, spatial data is given only on census tract level. To better analyze location data – specifically in lower dimensions - further discretize the city in scope with the help of suitable tools (such as a matrix of hexagons using h3-Uber). This discretization is crucial for the analysis of the spatial resolution. Furthermore, you should also consider different temporal discretization (e.g., hourly, 4-hourly, daily) etc.

**In this file we will make final preparations to the dataset. First we will test the taxi data on null values and remove them if deemed necessary. For this we will test how much data will be affected and only small changes will be executed. Following this we will combine each line of the Taxi dataframe with hourly weather data for chicago. Concluding we will create aggregations of this dataset regarding different discretations**

### Data preperation of Taxi Data

In [1]:
#ToDo
#PoI - Point of Interest
#discretize the city in h3 or census - Onno
#convert taxi id to int? - unnötig?

#aggregation zu 4 hourly and daily

#provide a detailed description of the trip dataset such that there are no pending questions

#kommentar zu aggregations

In [2]:
# importing the libraries
import numpy as np #?
import pandas as pd
import matplotlib.pyplot as plt #?

In [3]:
file_path = "./data/"
taxi = pd.read_csv(f"{file_path}chicago_taxi_2021.csv") #parse_dates sometimes resulted in the timestamps not converting correctly
taxi = taxi.astype({'trip_start_timestamp': 'datetime64', 'trip_end_timestamp': 'datetime64'})

In [4]:
# taking a look at the taxi data
print("number of rows in taxi data:", len(taxi))
taxi.head(10000000)

number of rows in taxi data: 3753630

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,trip_seconds,trip_miles,trip_total,company,payment_type
0,02fc5d8c3e8525a49b7514bd6c2b3301c2d6aa79,7e179f8ef66ae99ec2d1ec89224e0b7ee5469fe5627f6d...,2021-01-01 00:00:00,2021-01-01 00:15:00,NaN,NaN,NaN,4.0,1021.0,3.17,13.25,Flash Cab,Cash
1,33eb5c7a1439ac1e3ec6d1520e21db8137d1d11b,2c508057a94474215bdea7b101edad0dc911ef61bb99e6...,2021-01-01 00:00:00,2021-01-01 15:30:00,NaN,NaN,56.0,NaN,56047.0,7.10,27.00,Flash Cab,Cash
2,4bcfcfa78f372b705214ee2cba9c765ad6ba5161,31261f6e7fc645eff98c7964c7ea71a0ea7e387a6bd7f8...,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,NaN,8.0,8.0,120.0,0.10,4.50,Taxi Affiliation Services,Cash
3,655bbd9bcb0a78ee003e304ebbe350b21cdd7083,f6138aa35e1fb074eb79fbe29f512b6153dca3593d8cd2...,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,NaN,67.0,67.0,0.0,0.00,3.25,"Taxicab Insurance Agency, LLC",Cash
4,7b7b8108de94a518607068a7369ceea1ab2ae924,2c508057a94474215bdea7b101edad0dc911ef61bb99e6...,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,NaN,60.0,31.0,50.0,0.38,4.00,Flash Cab,Cash
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3753625,c14dc634692954ed3a894758160038be74d5d9a7,271cde2c4b4cc7b38a86c7e9b1543474230949e7fa5925...,2021-12-31 23:45:00,2021-12-31 23:45:00,NaN,NaN,NaN,24.0,26.0,0.00,40.00,Sun Taxi,Cash
3753626,c7f7d10621b9125d15a6d18157bc397e3d340962,5da013ec65199c182be94d5f8a640d1f0981620378d3f0...,2021-12-31 23:45:00,2021-12-31 23:45:00,NaN,NaN,8.0,6.0,740.0,2.78,10.75,24 Seven Taxi,Cash
3753627,d2a963bc462f633f0c86db68b54f4fa56a1279a4,8f4cde3f6d55c38289233d1679f415c644227354939888...,2021-12-31 23:45:00,2021-12-31 23:45:00,1.703108e+10,1.703108e+10,8.0,8.0,43.0,0.00,3.25,Chicago Independents,Cash
3753628,d5c90abb02cd46d0271e4fa0dd6f72c2157f3e5a,f81c929ea7d9107e6de8bd7ee335f42563b3413e967e98...,2021-12-31 23:45:00,2021-12-31 23:45:00,NaN,NaN,32.0,8.0,660.0,0.90,8.75,Taxi Affiliation Services,Cash
3753629,ebe0df1d82f9ea4371b49525639352a12d5e9307,b3db2338ef61da4928f751b253fc10fcb116717e299cd4...,2021-12-31 23:45:00,2021-12-31 23:45:00,NaN,NaN,8.0,8.0,0.0,0.00,3.25,Taxi Affiliation Services,Cash

In [5]:
#Test on Null values
taxi.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3753630 entries, 0 to 3753629
Data columns (total 13 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   trip_id                 3753630 non-null  object
 1   taxi_id                 3753617 non-null  object
 2   trip_start_timestamp    3753630 non-null  datetime64[ns]
 3   trip_end_timestamp      3753630 non-null  datetime64[ns]
 4   pickup_census_tract     1141408 non-null  float64
 5   dropoff_census_tract    1127133 non-null  float64
 6   pickup_community_area   3638372 non-null  float64
 7   dropoff_community_area  3483235 non-null  float64
 8   trip_seconds            3753046 non-null  float64
 9   trip_miles              3753126 non-null  float64
 10  trip_total              3753106 non-null  float64
 11  company                 3753630 non-null  object
 12  payment_type            3753630 non-null  object
dtypes: datetime64[ns](2), float64(7), object(4)
memory usage: 372.3+ MB

Most missing values are geodata, with census_tract being null in more than 2 million data rows. Description of the census_tract datacolumns from the city of Chicago: 
"The Census Tract where the trip began/ended. For privacy, this Census Tract is not shown for some trips. This column often will be blank for locations outside Chicago". This explains the huge Null value rate. We choose to keep the census tract, as well as th communty_area features regardless of their Null procentage, but we will still have a look this procentage

In [6]:
#Rows missing any Value other than Geodata
print("Lines with wrong Year:", len(taxi[(taxi["trip_start_timestamp"].dt.year != 2021)|(taxi["trip_end_timestamp"].dt.year != 2021)]))
print("Lines with Duplicates:", len(taxi)-len(taxi.drop_duplicates()))
print("Lines with all Null Values:", len(taxi) - len(taxi.dropna(axis=0, how= 'all')))
print("Lines with any Null Values:", len(taxi) - len(taxi.dropna(axis=0, how= 'any')))
print("Lines missing at least one value non Geodata:", len(taxi[(taxi["taxi_id"].isna()|taxi["trip_seconds"].isna()|taxi["trip_miles"].isna()|taxi["trip_total"].isna())]))
print("Procentage of these Null values compared to the whole", (len(taxi[(taxi["taxi_id"].isna()|taxi["trip_seconds"].isna()|taxi["trip_miles"].isna()|taxi["trip_total"].isna())])/len(taxi))*100, "%")
print("Procentage of any null values in community_area data:", (len(taxi[(taxi["pickup_community_area"].isna()|taxi["dropoff_community_area"].isna())])/len(taxi))*100, "%")
print("Procentage of any null values in census_tract data:", (len(taxi[(taxi["pickup_census_tract"].isna()|taxi["dropoff_census_tract"].isna())])/len(taxi))*100, "%")

Lines with wrong Year: 0
Lines with Duplicates: 0
Lines with all Null Values: 0
Lines with any Null Values: 2683507
Lines missing at least one value non Geodata: 1585
Procentage of these Null values compared to the whole 0.04222579209991395 %
Procentage of any null values in community_area data: 10.274134637670734 %
Procentage of any null values in census_tract data: 71.09150342468492 %

Since there are only 0,05% of all rows with missing trip related features, we will remove these. But there are 10% of all data that is atleast missing one geofeature, and there are 70% missing census tract assignment. So to work with geodata specifically the smaller census areas there is a lot of data to be sacrificed.

In [7]:
#Remove Null values outside of geodata
taxi = taxi[~(taxi["taxi_id"].isna()|taxi["trip_seconds"].isna()|taxi["trip_miles"].isna()|taxi["trip_total"].isna())]
taxi.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3752045 entries, 0 to 3753629
Data columns (total 13 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   trip_id                 3752045 non-null  object
 1   taxi_id                 3752045 non-null  object
 2   trip_start_timestamp    3752045 non-null  datetime64[ns]
 3   trip_end_timestamp      3752045 non-null  datetime64[ns]
 4   pickup_census_tract     1141040 non-null  float64
 5   dropoff_census_tract    1126764 non-null  float64
 6   pickup_community_area   3636870 non-null  float64
 7   dropoff_community_area  3481765 non-null  float64
 8   trip_seconds            3752045 non-null  float64
 9   trip_miles              3752045 non-null  float64
 10  trip_total              3752045 non-null  float64
 11  company                 3752045 non-null  object
 12  payment_type            3752045 non-null  object
dtypes: datetime64[ns](2), float64(7), object(4)
memory usage: 400.8+ MB

### Data preperation of weather data / inserting weather data

In [8]:
weather_df = pd.read_csv(f"{file_path}chicago_weather_2021.csv", parse_dates=["date"], infer_datetime_format=True)

In [9]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           8760 non-null   datetime64[ns]
 1   temp_2m        8760 non-null   float64
 2   precip         8760 non-null   int64
 3   windspeed_50m  8760 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(1)
memory usage: 273.9 KB

In [10]:
weather_df.head(3)

                 date  temp_2m  precip  windspeed_50m
0 2021-01-01 00:00:00    -1.33       0           6.35
1 2021-01-01 01:00:00    -1.28       0           7.12
2 2021-01-01 02:00:00    -1.31       0           7.48

Now we will merge the weather data per hour first on the start timestamp and in a second run on the end timestamp. We will use merge_asof which will merge the weather dates on the last line in weatherdata that is less than or equal to the selected row in taxi timestamp (since every value under the full hour is greater than the last full hour every hourly value will be assigned to the correct hour)

In [11]:
taxi = pd.merge_asof(taxi, weather_df, left_on=["trip_start_timestamp"], right_on=["date"])
taxi.drop_duplicates(subset=["trip_start_timestamp"]).sort_values(by=["trip_start_timestamp"]).head(5)

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,trip_seconds,trip_miles,trip_total,company,payment_type,date,temp_2m,precip,windspeed_50m
0,02fc5d8c3e8525a49b7514bd6c2b3301c2d6aa79,7e179f8ef66ae99ec2d1ec89224e0b7ee5469fe5627f6d...,2021-01-01 00:00:00,2021-01-01 00:15:00,NaN,NaN,NaN,4.0,1021.0,3.17,13.25,Flash Cab,Cash,2021-01-01 00:00:00,-1.33,0,6.35
24,3e1ac82501797e2e6cd020d2eb6a47774add503f,51e37146cd6467734e50a00ffe2ebbb77ee35e5f207817...,2021-01-01 00:15:00,2021-01-01 00:30:00,NaN,NaN,28.0,6.0,1140.0,6.40,25.35,Medallion Leasin,Credit Card,2021-01-01 00:00:00,-1.33,0,6.35
46,098966cb7c9bcc2205519aea528f6b753a4f2128,26a53f41b40ca4ec225a15ff55054c0a2d9e4a48341ce9...,2021-01-01 00:30:00,2021-01-01 00:45:00,NaN,NaN,6.0,14.0,1020.0,0.00,17.50,Taxi Affiliation Services,Cash,2021-01-01 00:00:00,-1.33,0,6.35
67,0e9a2f1ceee74bcda947a61c92ad6ced3b2822eb,31261f6e7fc645eff98c7964c7ea71a0ea7e387a6bd7f8...,2021-01-01 00:45:00,2021-01-01 01:00:00,NaN,NaN,28.0,44.0,1260.0,10.50,28.50,Taxi Affiliation Services,Cash,2021-01-01 00:00:00,-1.33,0,6.35
84,0472813b2adc49432007444d585556472f1ae04b,175a58299af3a8c883453259b9a0cfc45ccbbbe1a07883...,2021-01-01 01:00:00,2021-01-01 01:15:00,NaN,NaN,8.0,32.0,574.0,1.40,12.00,Medallion Leasin,Credit Card,2021-01-01 01:00:00,-1.28,0,7.12

In [12]:
#drop unnecessary column, rename and resort
taxi.drop(["date"], axis=1, inplace=True)
taxi.rename(columns={"temp_2m": "start_temp", "precip": "start_precip", "windspeed_50m": "start_windspeed"}, inplace=True)
taxi.sort_values(by=["trip_end_timestamp"], inplace=True)

In [13]:
taxi = pd.merge_asof(taxi, weather_df, left_on=["trip_end_timestamp"], right_on=["date"])
taxi.drop_duplicates(subset=["trip_start_timestamp"]).sort_values(by=["trip_start_timestamp"]).head(5)

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,trip_seconds,trip_miles,trip_total,company,payment_type,start_temp,start_precip,start_windspeed,date,temp_2m,precip,windspeed_50m
0,4eaf634b3e10271cf3f25e4ca37536992ce2dbae,8c508a77909d4e965c01698b799c7b25ab31d609051979...,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,NaN,8.0,8.0,240.0,0.70,5.25,Chicago Independents,Cash,-1.33,0,6.35,2021-01-01 00:00:00,-1.33,0,6.35
12,46e7d47c11aa83bc3488d7df84f901a92b961461,19e804a8eab9224b352e6a384007418b519864a3e7c2d9...,2021-01-01 00:15:00,2021-01-01 00:15:00,NaN,NaN,14.0,13.0,199.0,1.10,5.75,Medallion Leasin,Cash,-1.33,0,6.35,2021-01-01 00:00:00,-1.33,0,6.35
28,06b420be26d9f3c6aa812501facbe752140e5d63,2780ead18beaa862cc67315ddabd9d1acaadcd6da82eba...,2021-01-01 00:30:00,2021-01-01 00:30:00,NaN,NaN,77.0,77.0,41.0,0.00,3.25,Flash Cab,Cash,-1.33,0,6.35,2021-01-01 00:00:00,-1.33,0,6.35
50,b3403c3d4460d34241cd998c81395aea1de9e16a,175a58299af3a8c883453259b9a0cfc45ccbbbe1a07883...,2021-01-01 00:45:00,2021-01-01 00:45:00,NaN,NaN,8.0,28.0,590.0,3.10,11.75,Medallion Leasin,Cash,-1.33,0,6.35,2021-01-01 00:00:00,-1.33,0,6.35
64,fcded0a75b851a1eedc991ffa823592a38bffffd,2780ead18beaa862cc67315ddabd9d1acaadcd6da82eba...,2021-01-01 01:00:00,2021-01-01 01:00:00,NaN,NaN,3.0,6.0,503.0,2.12,20.00,Flash Cab,Credit Card,-1.28,0,7.12,2021-01-01 01:00:00,-1.28,0,7.12

In [14]:
taxi.drop(["date"], axis=1, inplace=True)
taxi.rename(columns={"temp_2m": "end_temp", "precip": "end_precip", "windspeed_50m": "end_windspeed"}, inplace=True)
taxi.sort_values(by=["trip_start_timestamp"], inplace=True)

In [15]:
taxi

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,trip_seconds,trip_miles,trip_total,company,payment_type,start_temp,start_precip,start_windspeed,end_temp,end_precip,end_windspeed
0,4eaf634b3e10271cf3f25e4ca37536992ce2dbae,8c508a77909d4e965c01698b799c7b25ab31d609051979...,2021-01-01 00:00:00,2021-01-01 00:00:00,NaN,NaN,8.0,8.0,240.0,0.70,5.25,Chicago Independents,Cash,-1.33,0,6.35,-1.33,0,6.35
63,b6a1c6f16a7f52cdfed0476891b7c8d58440011c,931225a382fc38a75212f9d358439aec0d9b50fdaf32ad...,2021-01-01 00:00:00,2021-01-01 00:45:00,NaN,NaN,14.0,22.0,2361.0,9.05,28.00,Flash Cab,Prcard,-1.33,0,6.35,-1.33,0,6.35
44,cdb55aa436f49734bec7dbe95605ef698819992d,a7aaa6374b9f88b5fd31a1106378dffccb77e1261bc57a...,2021-01-01 00:00:00,2021-01-01 00:30:00,NaN,NaN,8.0,1.0,1555.0,8.80,26.00,Flash Cab,Cash,-1.33,0,6.35,-1.33,0,6.35
43,a76c9cae097af5ff1dfef35b376a832f54d789ea,72920f6ebc5830d39039323cf78a316085444eb8f8b272...,2021-01-01 00:00:00,2021-01-01 00:30:00,NaN,NaN,8.0,68.0,1800.0,9.80,29.00,Taxi Affiliation Services,Cash,-1.33,0,6.35,-1.33,0,6.35
40,ebbe9c35b3077ce02c3f47df81564b8fe3515964,662dcbc106fd9fbdd2a5a1fdb2dc5fd067e60e921720eb...,2021-01-01 00:00:00,2021-01-01 00:30:00,NaN,NaN,34.0,43.0,1580.0,9.38,28.50,Flash Cab,Prcard,-1.33,0,6.35,-1.33,0,6.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3751977,26d32d04a1b06b8b7b30fbcb5678abb1a41f9681,b2a007b1410c7208af92ef3a97b87c0af4c3e7b49c2b76...,2021-12-31 23:45:00,2021-12-31 23:45:00,1.703108e+10,1.703106e+10,8.0,6.0,460.0,3.73,11.75,City Service,Cash,3.80,0,10.83,3.80,0,10.83
3751978,2d72624d166573f7ec7facdc8cd3e54effb3aa23,734d61bf7e7b985895d5a22f736f637dcc9a5575617e2a...,2021-12-31 23:45:00,2021-12-31 23:45:00,NaN,NaN,28.0,28.0,47.0,0.06,3.50,City Service,Cash,3.80,0,10.83,3.80,0,10.83
3751979,3531bdfd0ffed11ec8e933eb7ec9dc45554647d5,cb3bd991c2f7932527ef9d5f341674dfba53745f25fe3e...,2021-12-31 23:45:00,2021-12-31 23:45:00,NaN,NaN,76.0,NaN,600.0,0.20,17.25,Blue Ribbon Taxi Association Inc.,Credit Card,3.80,0,10.83,3.80,0,10.83
3751981,05f5290e1b7401d9ac27a3150db6c4135c9e33d1,929637055de3e69bd7558f9b7e2ac3832c4848215b3ab4...,2021-12-31 23:45:00,2021-12-31 23:45:00,NaN,NaN,7.0,7.0,60.0,0.00,55.00,"Taxicab Insurance Agency, LLC",Credit Card,3.80,0,10.83,3.80,0,10.83
3752044,ebe0df1d82f9ea4371b49525639352a12d5e9307,b3db2338ef61da4928f751b253fc10fcb116717e299cd4...,2021-12-31 23:45:00,2021-12-31 23:45:00,NaN,NaN,8.0,8.0,0.0,0.00,3.25,Taxi Affiliation Services,Cash,3.80,0,10.83,3.80,0,10.83

In [16]:
#Hier bitte geodate -> h3 einfügen

In [17]:
#export this first processed version for further use
taxi.to_csv(f"{file_path}taxi_processed.csv", index=False)

Aggregation by hour

In [18]:
taxi.drop(["taxi_id", "trip_end_timestamp", "pickup_census_tract", "dropoff_census_tract", "pickup_community_area", "dropoff_community_area", "company", "payment_type"], axis=1, inplace=True)
taxi_by_hour = taxi.groupby(pd.Grouper(key='trip_start_timestamp',freq='1H')).agg({"trip_id":"count","trip_seconds":"mean","trip_miles":"mean","trip_total":"mean","start_temp":"mean","start_precip":"mean","start_windspeed":"mean","end_temp":"mean","end_precip":"mean","end_windspeed":"mean"})
taxi_by_hour.rename(columns={"trip_seconds":"mean_trip_seconds","trip_id":"trip_amount","trip_miles":"mean_trip_miles","trip_total":"mean_trip_total"}, inplace=True)
taxi_by_hour.info()
taxi_by_hour.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8760 entries, 2021-01-01 00:00:00 to 2021-12-31 23:00:00
Freq: H
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   trip_amount        8760 non-null   int64
 1   mean_trip_seconds  8759 non-null   float64
 2   mean_trip_miles    8759 non-null   float64
 3   mean_trip_total    8759 non-null   float64
 4   start_temp         8759 non-null   float64
 5   start_precip       8759 non-null   float64
 6   start_windspeed    8759 non-null   float64
 7   end_temp           8759 non-null   float64
 8   end_precip         8759 non-null   float64
 9   end_windspeed      8759 non-null   float64
dtypes: float64(9), int64(1)
memory usage: 752.8 KB

,trip_amount,mean_trip_seconds,mean_trip_miles,mean_trip_total,start_temp,start_precip,start_windspeed,end_temp,end_precip,end_windspeed
trip_start_timestamp,,,,,,,,,,
2021-01-01 00:00:00,84,1716.333333,4.990119,19.891786,-1.33,0.0,6.35,-1.280952,0.011905,6.601190
2021-01-01 01:00:00,52,2026.230769,5.060192,18.000000,-1.28,0.0,7.12,-1.229231,0.000000,7.276346
2021-01-01 02:00:00,53,763.509434,4.466415,16.875283,-1.31,0.0,7.48,-1.281698,0.000000,7.446038
2021-01-01 03:00:00,39,942.974359,3.897949,16.775897,-1.16,0.0,7.30,-1.126923,0.000000,7.325641
2021-01-01 04:00:00,30,873.533333,3.756000,21.718000,-0.98,0.0,7.33,-0.908667,0.000000,7.605667

In [19]:
taxi_by_hour[taxi_by_hour["trip_amount"] == 0]

,trip_amount,mean_trip_seconds,mean_trip_miles,mean_trip_total,start_temp,start_precip,start_windspeed,end_temp,end_precip,end_windspeed
trip_start_timestamp,,,,,,,,,,
2021-03-14 02:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
taxi_by_hour[taxi_by_hour["trip_amount"] == 0] = taxi_by_hour.ffill()
taxi_by_hour.info()
taxi_by_hour.loc["2021-03-14 02:00:00"]

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8760 entries, 2021-01-01 00:00:00 to 2021-12-31 23:00:00
Freq: H
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   trip_amount        8760 non-null   int64
 1   mean_trip_seconds  8760 non-null   float64
 2   mean_trip_miles    8760 non-null   float64
 3   mean_trip_total    8760 non-null   float64
 4   start_temp         8760 non-null   float64
 5   start_precip       8760 non-null   float64
 6   start_windspeed    8760 non-null   float64
 7   end_temp           8760 non-null   float64
 8   end_precip         8760 non-null   float64
 9   end_windspeed      8760 non-null   float64
dtypes: float64(9), int64(1)
memory usage: 1010.9 KB

trip_amount             0.000000
mean_trip_seconds    1682.868852
mean_trip_miles         3.546721
mean_trip_total        19.226148
start_temp              3.750000
start_precip            0.000000
start_windspeed         9.200000
end_temp                3.608115
end_precip              0.000000
end_windspeed           9.371803
Name: 2021-03-14 02:00:00, dtype: float64

In [21]:
#export this hourly aggregated version for further use
taxi_by_hour.to_csv(f"{file_path}taxi_hourly_processed.csv", index=False)
del taxi_by_hour

In [22]:
taxi_by_4hour = taxi.groupby(pd.Grouper(key='trip_start_timestamp',freq='4H')).agg({"trip_id":"count","trip_seconds":"mean","trip_miles":"mean","trip_total":"mean","start_temp":"mean","start_precip":"mean","start_windspeed":"mean","end_temp":"mean","end_precip":"mean","end_windspeed":"mean"})
taxi_by_4hour.rename(columns={"trip_seconds":"mean_trip_seconds","trip_id":"trip_amount","trip_miles":"mean_trip_miles","trip_total":"mean_trip_total"}, inplace=True)
taxi_by_4hour.info()
taxi_by_4hour.to_csv(f"{file_path}taxi_4_hourly_processed.csv", index=False)
taxi_by_4hour.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2190 entries, 2021-01-01 00:00:00 to 2021-12-31 20:00:00
Freq: 4H
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   trip_amount        2190 non-null   int64
 1   mean_trip_seconds  2190 non-null   float64
 2   mean_trip_miles    2190 non-null   float64
 3   mean_trip_total    2190 non-null   float64
 4   start_temp         2190 non-null   float64
 5   start_precip       2190 non-null   float64
 6   start_windspeed    2190 non-null   float64
 7   end_temp           2190 non-null   float64
 8   end_precip         2190 non-null   float64
 9   end_windspeed      2190 non-null   float64
dtypes: float64(9), int64(1)
memory usage: 188.2 KB

,trip_amount,mean_trip_seconds,mean_trip_miles,mean_trip_total,start_temp,start_precip,start_windspeed,end_temp,end_precip,end_windspeed
trip_start_timestamp,,,,,,,,,,
2021-01-01 00:00:00,228,1433.236842,4.697544,18.226140,-1.284868,0.000000,6.950789,-1.242982,0.004386,7.075482
2021-01-01 04:00:00,158,950.120253,5.815570,20.895316,-0.424304,0.000000,9.201139,-0.351835,0.000000,9.411392
2021-01-01 08:00:00,440,1054.975000,5.856864,21.924727,0.196000,0.318182,10.717455,0.266523,0.402273,10.765386
2021-01-01 12:00:00,770,1174.900000,5.640468,30.101013,1.219013,1.000000,11.251234,1.264286,0.920779,11.291857
2021-01-01 16:00:00,672,1353.471726,6.558080,27.010923,1.535967,0.232143,11.080551,1.522664,0.306548,10.817173

In [23]:
taxi_by_day = taxi.groupby(pd.Grouper(key='trip_start_timestamp',freq='d')).agg({"trip_id":"count","trip_seconds":"mean","trip_miles":"mean","trip_total":"mean","start_temp":"mean","start_precip":"mean","start_windspeed":"mean","end_temp":"mean","end_precip":"mean","end_windspeed":"mean"})
taxi_by_day.rename(columns={"trip_seconds":"mean_trip_seconds","trip_id":"trip_amount","trip_miles":"mean_trip_miles","trip_total":"mean_trip_total"}, inplace=True)
taxi_by_day.info()
taxi_by_day.to_csv(f"{file_path}taxi_daily_processed.csv", index=False)
taxi_by_day.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 365 entries, 2021-01-01 to 2021-12-31
Freq: D
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   trip_amount        365 non-null    int64
 1   mean_trip_seconds  365 non-null    float64
 2   mean_trip_miles    365 non-null    float64
 3   mean_trip_total    365 non-null    float64
 4   start_temp         365 non-null    float64
 5   start_precip       365 non-null    float64
 6   start_windspeed    365 non-null    float64
 7   end_temp           365 non-null    float64
 8   end_precip         365 non-null    float64
 9   end_windspeed      365 non-null    float64
dtypes: float64(9), int64(1)
memory usage: 31.4 KB

,trip_amount,mean_trip_seconds,mean_trip_miles,mean_trip_total,start_temp,start_precip,start_windspeed,end_temp,end_precip,end_windspeed
trip_start_timestamp,,,,,,,,,,
2021-01-01,2758,1280.125091,6.296124,26.651613,0.890703,0.442350,10.338136,0.929808,0.435098,10.332698
2021-01-02,4178,1181.376257,6.279143,24.232432,1.795412,0.000000,3.926865,1.770373,0.000000,3.927602
2021-01-03,3682,1173.786257,7.609269,29.881953,0.184161,0.022271,4.619913,0.071643,0.026073,4.663781
2021-01-04,5719,1139.688757,5.436548,21.120481,-1.316041,0.000000,5.855211,-1.260469,0.000000,5.884635
2021-01-05,5208,1127.401498,4.959952,19.782800,0.412394,0.000000,3.953066,0.416726,0.000000,3.847389